.company{
    display:grid;
}
.products{
    display:grid;
}
.resources{
    display:grid;
}
.relevent{
    display:grid; 
}
.social_hiper_link{
    text-decoration: none;
}

.fa-brands{
    color: #808080;
    padding-right: 0.55rem;
    transition: 1s;
}
.fa-brands:hover{
    color: hsl(313, 75%, 47%);
}
