
.row-flex {
    display: flex;
    flex-direction: column;
}
.h-girl {
    font-weight: 600;
}
.row-flex .p-girl{
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 15px;
}
.img-girl {
    align-self:center;
    width: 100%;
    object-fit: contain;
    object-position: center;
    margin-bottom: 40px;
}
@media (min-width:320px){
    .img-girl { 
        width: 300px;
    }

}

.right-col-form{
    margin-top: 20px;
}