.container.main-header {
    padding-top: 0px;
    padding-bottom: 0px;
    /* position: fixed; */
    background-color: transparent;
}

header .row {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.row.fixed {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    padding: 5px 0px;
    top: 0px;
    transition: 0.3s ease-in;
    margin-top: 0px;
    top:-30px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #e0e0e0;
}

.main-header .col-12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.main-header .nav {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.main-header .nav-link,
.main-header .nav-links {
    font-size: 15px;
    font-weight: 600;
    color: var(--font-blue-color);
}

.main-header .nav-link:hover,
.main-header .nav-links:hover {
    color: var(--font-grey-color);
    transition: 0.15s ease-in-out;
}

/* hamburger */
.main-header .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    width: 2.5rem;
    height: 2rem;
    border: 1.5px solid var(--font-grey-color);
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
}
.main-header .menu-btn .menu-btn-lines,
.main-header .menu-btn .menu-btn-lines::before,
.main-header .menu-btn .menu-btn-lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: var(--font-grey-color);
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.main-header .menu-btn .menu-btn-lines::before,
.main-header .menu-btn .menu-btn-lines::after {
    content: '';
    position: absolute;
}

.main-header .menu-btn .menu-btn-lines::before{
    transform: translateY(-0.5rem);
}

.main-header .menu-btn .menu-btn-lines::after{
    transform: translateY(0.5rem);
}

/* burger btn animations */
.main-header .menu-btn.open .menu-btn-lines {
    transform: translateX(-2rem);
    background: transparent;
}
.main-header .menu-btn.open .menu-btn-lines::before {
    transform: rotate(45deg) translate(1.4rem, -1.4rem);
    height: 0.2rem;
    background-color: var(--font-blue-color);
}

.main-header .menu-btn.open .menu-btn-lines::after {
    transform: rotate(-45deg) translate(1.4rem, 1.4rem);
    height: 0.2rem;
    background-color: var(--font-blue-color);
}

.main-header .menu-btn.open {
    border: 2px solid var(--font-blue-color);
}

/* icons down */
.main-header .fa.fa-chevron-down {
    font-size: 11px;
    line-height: 20px;
    margin-left: 5px;
}

/* dropdown list */
.main-header .dropdown-list {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    top: 48px;
    background-color: #fff;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.dropdown-link:hover .dropdown-list {
    transition: all 0.4s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.dropdown-list a {
    display: block;
    width: 180px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    padding-left: 20px;
    color: var(--font-grey-color);
    box-shadow: 0px 2px 3px #e0e0e0;
}

.dropdown-list a:hover {
    background-color: var(--font-blue-color);
    color: #fff;
    transition: all 0.1s ease-in-out;
}

@media (min-width: 991px) {
    .main-header .menu-btn {
        display: none;
    }    
    .main-header .nav {
        display: flex;
    }
}

@media (max-width: 991px) {
    .main-header .nav {
        display: none;
    }
    .main-header .col-12 {
        position: relative;
    }

    .nav.open {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 2;
        width: 100%;
        gap: 0px;
        top: 43px;
        right: 0px;
        border: 2px solid #f5f0f0;
    }
    .nav.open .dropdown-link,
    .nav.open .nav-links,
    .nav.open div {
        width: 100%;
        /* pointer-events: none; */
    } 

    .nav.open .nav-btn {
        display: none;
    }

    .nav.open .nav-link,
    .nav.open .nav-links {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        color: #fff;
        background-color: var(--font-blue-color);
        border-bottom: 2px solid #f5f0f0;
    }

    .main-header .nav.open .dropdown-list {
        position: static;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        list-style: none;
        background-color: #fff;
        z-index: 2;
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }

    .nav.open .dropdown-list a {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        padding-left: 0px;
        box-shadow: none;
        border-bottom: 2px solid #f5f0f0;
        color: var(--font-blue-color);
    }

    .nav.open .nav-link:hover,
    .nav.open .nav-links:hover {
        background-color: #fff;
        color: var(--font-blue-color);
        transition: 0.15s ease-in-out;
    }

    .nav.open .dropdown-list a:hover {
        background-color: var(--btn-secondary-color);
    }
}