.hero-marg {
    margin-top: -460px;
    margin-bottom: 200px;
}

.img-marg {
    margin-top: -460px;
}

.bg {
    background-image: url(../../img/hero/bg.png);
    height: 650px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}