.hero-marg {
    margin-top: -460px;
    margin-bottom: 250px;
}

.axis.active .move {
    -webkit-transform: translate(55px,40px);
    -o-transform: translate(55px,40px);
    -moz-transform: translate(55px,40px);
}

.img-marg {
    transition: all 2s ease-in-out;
    margin-top: -450px;
    transform: translateY(0%);
}

.bg {
    background-image: url(../../img/hero/bg.png);
    height: 650px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}