.whatWeDo {
  transition: 2s;
}
.whatWeDoIcon {
  width: 5rem;
  height: 5rem;
}
.icon-1 {
  text-align: center;
}
@media (max-width: 1690px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 2% 2% 2% 2%;
  }
  @media (max-width: 1509px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 2% 2% 2% 2%;
  }
@media (max-width: 1510px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 5% 5% 5% 5%;
  }}
  @media (max-width: 1309px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 5% 5% 5% 5%;
  }}
  @media (max-width: 1310px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 2% 2% 2% 2%;
  }}
   @media (max-width: 979px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 2% 2% 2% 2%;
  }}
  @media (max-width: 980px) {
  .whatWeDo {
    border-radius:0;
  }}}
.row.bet {
  display: flex;
  flex-wrap: wrap;
}
.what-do-box-img{
  height: 400px;
}
}
.what-do-box-img > img{
  /* width: 100%; */
  /* min-height: 450px; */
  /* object-fit: contain;*/
  /* object-position: center; */
  position: absolute;
  width: 300px;
  align-self: center;
}
.what-do-box-img.show > img{
  animation: popUPfoto;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 500px;
}
@keyframes popUPfoto{
  0% {
    margin-top: 500px;
   
  }
  100%{
    margin-top: 0;
  }
}