.whatWeDo {
  transition: 2s;
}
.whatWeDoIcon {
  width: 5rem;
  height: 5rem;
}
.icon-1 {
  text-align: center;
}
@media (max-width: 1690px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 2% 2% 2% 2%;
  }
  @media (max-width: 1509px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 2% 2% 2% 2%;
  }
@media (max-width: 1510px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 5% 5% 5% 5%;
  }}
  @media (max-width: 1309px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 5% 5% 5% 5%;
  }}
  @media (max-width: 1310px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 2% 2% 2% 2%;
  }}
   @media (max-width: 979px) {
  .whatWeDo {
    border-radius: 50% 50% 50% 50% / 2% 2% 2% 2%;
  }}
  @media (max-width: 980px) {
  .whatWeDo {
    border-radius:0;
  }}}
.row.bet {
  display: flex;
  flex-wrap: wrap;
}
.what-do-box-img{
  height: 60vh;
  position: relative;
}
}
.what-do-box-img > img{
  display: none;
  width: 80%;

}
@media (min-width: 770px){
  .what-do-box-img > img{
    width: 100%;
  }
}

.what-do-box-img.show > img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);;
  animation: popUPfoto;
  animation-duration: 1s;
  animation-delay: 2;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 500px;
}
@keyframes popUPfoto{
  0% {
    margin-top: 500px;
    opacity: 0;
    width: 100px;
  }
  80% {
    opacity: 0.4;
    width: 100px;
  }
  100%{
    margin-top: 0;
  }
}