.form-row {
    width: 100%;
}
.form-row > .label {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: var(--font-black-color);
    margin-bottom: 10px;
}
.form-row > .label > span {
    color: #ff0000;
    margin-left: 3px;
}
.form-row > .input {
    width: 100%;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ebebeb;
    color: var(--font-grey-color);
    padding: 8px 0;
    margin-bottom: 24px;
}
.form-row > .input:focus-visible {
    outline: none;
}