/* base */
@import '../base/base.css';
@import '../base/header.css';
@import '../base/layout.css';
@import '../base/backgroundColors.css';
@import '../base/faq.css';
@import '../base/hero.css';

/* 3rd-party */


/* components */
@import '../components/button.css';
@import '../components/form.css';
@import '../components/circle.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* hero: start */
/* hero: end */

/* what we do: start */
.box-1 {
    padding: 35px;
    border-radius: 10px;
    margin-bottom: 30px;
    min-height: 320px;
}
.what-do-box-img > img{
    width: 100%;
    min-height: 450px;
    object-fit: contain;
    object-position: center;
}
.we-do-box2{
    margin-top: 45px;
}
.btn-push {
    margin-top: 10px;
}
/* what we do: end */
    
/* our team: start */
    .team-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .padding-to-text-top{
        padding-top: 30px;
    }
    .padding-text-girl {
        padding-top: 60px;
    }
/* our team: end */

/* moving blocks: start */
/* moving blocks: end */

/* questions: start */
/* questions: end */

/* free trial: start */
.row.free-tryl {
    border-radius: 10px;
    padding: 80px 30px;
    display: inline-block;
}

/* free trial: end */

/* form: start */
/* form: end */

/* footer: start */
@import '../base/footer.css';
/* footer: end */