/* base */
@import '../base/base.css';
@import '../base/form-row.css';
@import '../base/header.css';
@import '../base/layout.css';
@import '../base/backgroundColors.css';
@import '../base/faq.css';
@import '../base/hero.css';
@import '../base/footer.css';
@import '../base/moving-blocks.css';
@import '../base/our-team.css';
@import '../base/free-trial.css';
@import "../base/whatWeDo.css";
@import '../base/up-to-top.css';
/* 3rd-party */

@import "../3rd-party/font-awesome.min.css";

/* components */
@import "../components/button.css";
@import "../components/form.css";
@import "../components/circle.css";

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* hero: start */
/* hero: end */

/* what we do: start */
.box-1 {
  padding: 28px;
  border-radius: 10px;
  margin-bottom: 30px;
  min-height: 320px;
}
.what-do-box-img > img {
  width: 100%;
  min-height: 450px;
  object-fit: contain;
  object-position: center;
}
.we-do-box2 {
  margin-top: 45px;
}
.btn-push {
  margin-top: 10px;
}
/* what we do: end */

/* our team: start */
/* our team: end */

/* moving blocks: start */
/* moving blocks: end */

/* questions: start */
/* questions: end */

/* free trial: start */
/* free trial: end */

/* form: start */
/* form: end */

/* footer: start */
@import "../base/footer.css";
/* footer: end */
