/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/faq.css';

/* components */
@import '../components/button.css';
@import '../components/form.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* hero: start */
/* hero: end */

/* what we do: start */
/* what we do: end */
    
/* our team: start */
    .team-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .padding-to-text-top{
        padding-top: 30px;
    }
    .padding-text-girl {
        padding-top: 60px;
    }
/* our team: end */

/* moving blocks: start */
/* moving blocks: end */

/* questions: start */
/* questions: end */

/* free trial: start */
.row.free-tryl {
    border-radius: 10px;
    padding: 80px 30px;
    display: inline-block;
}

/* free trial: end */

/* form: start */
/* form: end */

/* footer: start */
@import '../base/footer.css';
/* footer: end */