.container.main-header{
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.main-header .nav-link,
.main-header .nav-links {
    color: #fff;
}
.main-header .nav-link:hover,
.main-header .nav-links:hover {
    color: #333;
}
.nav-btn > .btn {
    border-radius: 0;
    color: #6f42c1;
    background-color: #fff;
}
.nav-btn > .btn:hover {
    color: #fff;
    background-color: #6327eb;
}