.container.heroAbout {
    background-image: linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
        display: flex;
        align-items: center;
        min-height: 80vh;
        color: #fff;
       
}
.row.yes{
    margin-top: 100px;
    overflow-x: hidden;
}

.row > .giant-h1 > h1 {
    padding-right: 20%;

}
.oval {
    display: flex;
    border-radius: 65px;
    background-color: #5e2ced;
    padding: 5px 30px 5px 5px;
    width: 200px;
    margin-bottom: 40px;
}
.oval > i {
    float: left;
    border-radius: 50%;
    background-color: #2abef5;
    font-size: 30px;
    line-height: 50px;
    padding-left: 13px;
    width: 50px;
    height: 50px;
    color: yellow;
    animation: lempa;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  
}
@keyframes lempa{
    0% {
        color: yellow;
    }
    100%{
        color: #2abef5;
    }
}
.oval > p {
    float: left;
    margin-left: 20px;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;

}
.row.yes > .kubas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 400px;
    height: 400px;
    background: linear-gradient(180deg, rgba(81, 185, 245, 0.38) 0%, rgba(82, 185, 245, 0.01) 100%);
    border-radius: 60px;
    animation: suktis;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: all;
    animation-direction:alternate-reverse;
    
}
@keyframes suktis {
    0% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}